@model NetQuax.Models.BrowseModel


<!--<div class="topnav" id="myTopnav" style="height:110%;">
  <div class="row">
    <div class="col-sm-2" style="color:lightgrey;">Browse</div>
    <div class="col-sm-4"></div>
    <div class="col-sm-6">
      <select class="form-control">
        <option value="Genre">Genre</option>
        <option value="Year">Year</option>
      </select>
    </div>
  </div>
</div>-->
   

<script>
    function myFunction(choice) {
      document.getElementById("myDropdown").style.display="";
      document.getElementById("myDropdown").removeAttribute("style");
      document.getElementById("myMainBody").innerHTML = "Display " + choice + " information here";
      document.getElementById("myMainBody").innerHTML = '<object type="text/html" data="' + choice + '.html" width="800px" height="600px" style="overflow:auto;border:5px ridge blue"> </object>'
    }
</script>
<div class="mainbody" id="myMainBody">
  <div class="row margin-top-20 defaultSort">    
    @{ 
      if (Model != null && Model.BrowseMovies != null)
      {
        foreach (NetQuax.Entities.Movie m in Model.BrowseMovies.AllMovies.Take(3).OrderBy(x=> x.Title))
        {
          <div onclick="showDetailModal(@m.MovieId)" style="text-align:center;" class="col-sm-4">
            <img style="width: 200px; height: 300px; text-align:center;" src="@("/images/" + m.Title + ".jpg")" />
          </div>
          @Html.Partial("modal-MovieDetails", new NetQuax.Models.MovieDetailsModel((int)m.MovieId))
          }
        }
      }
  </div>
   <div class="row margin-top-20 defaultSort">    
 @*   @{ 
      if (Model != null && Model.BrowseMovies != null)
      {
        foreach (NetQuax.Entities.Movie m in Model.BrowseMovies.AllMovies.Take(3).Where()
        {
          <div style="text-align:center;" class="col-sm-4">
            <img class="" style="width: 200px; height: 300px; text-align:center;" src="@("/images/" + m.Title + ".jpg")" />
          </div>
          }
        }
      }*@
  </div>
</div>
 