@model NetQuax.Models.BrowseModel

<!--<div class="topnav" id="myTopnav" style="height:110%;">
  <div class="row">
    <div class="col-sm-2" style="color:lightgrey;">Browse</div>
    <div class="col-sm-4"></div>
    <div class="col-sm-6">
      <select class="form-control">
        <option value="Genre">Genre</option>
        <option value="Year">Year</option>
      </select>
    </div>
  </div>
</div>-->
@*<script>
      function myFunction(choice) {
        document.getElementById("myDropdown").style.display="";
        document.getElementById("myDropdown").removeAttribute("style");
        document.getElementById("myMainBody").innerHTML = "Display " + choice + " information here";
        document.getElementById("myMainBody").innerHTML = '<object type="text/html" data="' + choice + '.html" width="800px" height="600px" style="overflow:auto;border:5px ridge blue"> </object>'
      }
  </script>*@
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    @using (Ajax.BeginForm("SearchMovies", "Home",
    new AjaxOptions
    {
      OnBegin = "ValidateSearchString",
      OnSuccess = "HandleSearchJson"
    },
    new
    {
      id = "SearchMovies",
      name = "SearchMovies"
    }))
    {
      <div class="row margin-top-5">
        <div class="col-sm-3">
          <select class="form-control" name="SearchCategory">
            <option value="">Search by...</option>
            <option value="Title">Title</option>
            <option value="Actor">Actor</option>
            <option value="Genre">Genre</option>
            <option value="Director">Director</option>
            <option value="Theme">Theme</option>
          </select>
        </div>
        <div class="col-sm-4">
          <input type="text" id="searchString" class="form-control" name="SearchString" placeholder="The Mighty Ducks">
        </div>
        <div class="col-sm-4">
          <select class="form-control" name="FilterCategory">
            <option value="">Filter By...</option>
            <option value="Decade8">Decade: 80's</option>
            <option value="Decade9">Decade: 90's</option>
            <option value="Decade20">Decade: 2000's</option>
            <option value="Price">Price: less than 5$</option>
            <option value="Review">Review: 7+</option>
          </select>
        </div>
        <div class="col-sm-1">
          <button type="button" onclick="$('#SearchMovies').submit();" class="btn btn-default">Search</button>
        </div>
      </div>
    }
  </div>
</nav>
<div style="max-height:700px; overflow-y: auto; overflow-x: hidden;" class="mainbody" id="myMainBody">
  <div class="row margin-top-20 defaultSort">

    @{
      if (Model != null && Model.BrowseMovies != null)
      {
        foreach (NetQuax.Entities.Movie m in Model.BrowseMovies.AllMovies.OrderBy(x => x.Title))
        {
          <div onclick="showDetailModal(@m.MovieId)" style="text-align:center;" class="col-sm-4 margin-bottom-20">
            <img style="width: 200px; height: 300px; text-align:center;" src="@("/images/" + m.Title + ".jpg")" />
          </div>
          @Html.Partial("modal-MovieDetails", new NetQuax.Models.MovieDetailsModel((int)m.MovieId))
        }
      }
    }
  </div>
</div>