@{
    ViewBag.Title = "Home Page";
}

@* Div with ID movies controles searching and movie details *@
<div id="movies">
<div class="row">
    <div class="col-sm-4">1</div>
    <div class="col-sm-4">2</div>
    <div class="col-sm-4">3</div>
</div>
<hr />
<div class="row">
    <div class="col-sm-4">1</div>
    <div class="col-sm-4">2</div>
    <div class="col-sm-4">3</div>
</div>
<hr />
<div class="row">
    <div class="col-sm-4">1</div>
    <div class="col-sm-4">2</div>
    <div class="col-sm-4">4</div>
</div>
</div>
<hr />


