@model NetQuax.Models.HomePageModel
<div id="modal-AddUser" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title"><b>Create a User Account</b></h3>
      </div>
      <div class="modal-body">
        @using (Ajax.BeginForm("AddUser", "Home", new AjaxOptions
        {
          OnBegin = "return ValidateAddUser() "

        },
        new
        {
          id = "addUser-Form",
          name = "AddUserForm"
        }))
        {
        <div class="row">
          <div class="col-sm-12">
            <label for="addUser-Username">User name:</label>
            <input class="margin-bottom-10 form-control" id="addUser-Username" name="Username" type="text" value="" />
          </div>
          <div class="col-sm-12">
            <label for="addUser-Password">Password:</label>
            <input id="addUser-Password" class="margin-bottom-10 form-control" name="Password" type="text" value="" />
          </div>
          <div class="col-sm-12">
            <label for="addUser-PasswordConfirmation">Password Confirmation</label>
            <input type="text" id="addUser-PasswordConfirmation" class="margin-bottom-10 form-control" name="PasswordConfirmation" />
          </div>
          <div class="col-sm-12">
            <label  for="addUser-UserType">Plan:</label>
            <select id="addUser-UserType" class="margin-bottom-10 form-control" name="UserType">
              <option value="1">Hatchling</option>
              <option selected value="2">Full-Grown Duck</option>
              <option value="1">Mother Duck</option>
            </select>
          </div>
          <!--<div class="col-sm-12">
            <label></label>
            <input type="" value="" />
          </div>
          <div class="col-sm-12">
            <label></label>
            <input type="" value="" />
          </div>-->
        </div>
        }

        <div class="modal-footer">
          <div id="addUser-Error" class="margin-bottom-10" style="text-align: center;">
            <p id="addUser-ErrorMessage"></p>
          </div>
          <button type="button" onclick="$('#addUser-Form').submit()" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>