#nav-wrapper {
    margin-right: auto; 
    margin-left: auto; 
    max-width: 860px; 
}
.top-header {
    background-image: url("../images/netquaximagev3.jpg");
    width: 653px;
    height: 176px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
}

.top-nav {
    margin: 0;
    width: 100%;
    padding: 5px;
    height: 45px;
    
}
.search{
    float: right;
}
ul {
    list-style-type: none;
   
}
li{
    padding: 7px;
}
a:link {
   text-decoration: none;
   color: black;
}
a:hover{
    color: blue;
}
a:active{
    color:blue;
}
.netquax-navbar{
    text-align: right;
}