<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<!--temp style -->
  <link rel=stylesheet href="NetQuaxStyle.css">
</head>
<body>
<!-- Navigation Bar -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">NetQuax</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Browse</a></li>
    </ul>
    <div class="navbar-form navbar-left">
      <div class="form-group">
        <input type="text" class="form-control" id="searchText" placeholder="Search Movies...">
        </div>
        <button id="butt" class="btn btn-primary">Enter</button>
    </div>
  </div>
</nav>

<!-- container for movies handled with js -->
<br>
<div class="container" id="cont">
<br>
<br>
<div id="movies" class="row"></div>
</div>
<script src="NetQuaxFunctionality.js"></script>
</body>
</html>