#movies img, #movie img{
        z-index: auto;
        width:100%;
      }
      body {
          background:#3e4444;
      }
      @media(min-width:960px){
        #movies .col-md-4 .well{
        height: 390px;
        width: 305px;
        background:#1A1A1D;
        color :azure; 
         
        }

        #movies .col-md-4 img{
        height:250px;
        width:220px;
        }
          
        #cont, .jumbotron{
              background-color:#3e4444 ; 
            }
          .checked {
            color: orange;
          }
        }
/*testing carisol */
.column {
  float: left;
  width: 25%;
  padding: 50px;
/*  left:40px;*/
   
  
}


/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;

}




/*Testing zone */
